[project]
	description = Swift Client Library for the Faye Pub-Sub messaging server (http://faye.jcoglan.com/)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Haris Amin (hamin)
[access "refs/for/refs/*"]
	read = group user/Haris Amin (hamin)
	push = group user/Haris Amin (hamin)
	label-Code-Review = -2..+2 group user/Haris Amin (hamin)
	label-Verified = -1..+1 group user/Haris Amin (hamin)
	rebase = group user/Haris Amin (hamin)
	removeReviewer = group user/Haris Amin (hamin)
	submit = group user/Haris Amin (hamin)
[access "refs/heads/*"]
	read = group user/Haris Amin (hamin)
	create = group user/Haris Amin (hamin)
	push = +force group user/Haris Amin (hamin)
	pushMerge = group user/Haris Amin (hamin)
[access "refs/tags/*"]
	push = +force group user/Haris Amin (hamin)
	pushTag = group user/Haris Amin (hamin)
	pushSignedTag = group user/Haris Amin (hamin)
